<div class="row m-3 d-flex justify-content-around align-items-center">
    <div class="col-md-2 col-sm-3 col-6 text-dark" *ngFor="let buddy of buddies">
        <div class="card m-2">
            <img src="https://i.imgur.com/{{buddy.pic}}" class="card-img-top img-fluid nomal" alt="{{buddy.name}}">
            <div class="card-body d-flex align-items-center row">
                <h5 class=" col-12 card-title text-truncate">{{buddy.name}}</h5>
                <h6 *ngIf="buddy.is_online" style="color: green; font-weight: bold;">Online</h6>
                <h6 class="text-truncate" *ngIf="!buddy.is_online">Last online: {{(buddy.last_online)}}</h6>
                <button *ngIf="buddy.room_id" class="btn btn-success text-truncate" [routerLink]="'/room' + buddy.room_id">Send a message</button>
                <button *ngIf="!buddy.room_id" class="btn btn-success text-truncate" [routerLink]="'/room' + buddy.room_id">Start a conversation</button>
            </div>
        </div>
    </div>
</div>