<div class="row m-3 mx-auto">
    <div class="col-5 bg-light text-dark m-2">
        <h5 class="text-center">Login</h5>
        <form action="" method="post">
            <label for="Username">Username:</label>
            <input type="text" placeholder="Username" name="Username">
            <label for="Password">Password:</label>
            <input type="text" placeholder="Password" name="Password">
        </form>
        <button class="btn btn-success" type="submit">Login</button>
    </div>
    <div class="col-5 bg-light text-dark m-2">
        <h5 class="text-center">Signup</h5>
        <form action="" method="post">
            <label for="Username">Username:</label>
            <input type="text" placeholder="Username" name="Username">
            <label for="Password">Password:</label>
            <input type="text" placeholder="Password" name="Password">
        </form>
        <button class="btn btn-success" type="submit">Signup</button>
    </div>
</div>