<div class="col-5">
    <div class="row">
        <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search for ChatBuddy" />
    </div>
    <div class="row bg-light border border-dark text-dark" *ngFor="let buddy of buddies$ | async">
        <a class="row" style="color: black; text-decoration: none;" routerLink="/room">
            <div class="col-2">
                <img src="https://i.imgur.com/{{buddy.pic}}" height="60" alt="{{buddy.name}}"> 
            </div>
            <div class="col-10">
                <h4>{{buddy.name}}</h4>
                <h6 *ngIf="buddy.online" style="color: green; font-weight: bold;">Online: {{buddy.online}}</h6>
            </div>
        </a>
      </div>
</div>